/* CSS placed here will be applied to all skins */

/******* MAIN PAGE STYLING **********/

body.page-Main_Page h1.firstHeading { display:none; }

#mainpage_topbox {
  background: #f9f9f9; 
  padding: 0px; 
  border: 1px solid #aaaaaa; 
  margin: 0.2em 10px 10px;
}
 
.mainpage_boxtitle, .mainpage_hubtitle, #mainpage_pagetitle {
  font-size: 105%; 
  padding: 0.4em; 
  background-color: #eeeeee; 
  border-bottom: 1px solid #aaaaaa; 
 
}
 
.mainpage_boxtitle {
  line-height: 120%;
}
 
#mainpage_pagetitle {
  color: #cf7606; 
  font-size: 200% !important;
}
 
#mainpage_sitelinks {
  padding: 0.2em; 
  text-align: center;
  background-color: white;
}
.mainpage_hubtitle {
  text-align: center;
}
 
.mainpage_boxcontents, .mainpage_boxcontents_small {
  background: #ffffff;
  padding:0.4em 1em;
}
 
.mainpage_boxcontents_small {
  font-size: 95%;
}
 
.mainpage_hubbox, #mainpage_newscell, #mainpage_downloadcell {
  padding: 0;
  border: 1px solid #aaaaaa;
}
 
.mainpage_hubbox {
  margin-bottom: 0;
}
 
#mainpage_newscell {
  margin-bottom: 15px;
  margin-top: 0 !important;
}
 
#mainpage_newscell .mainpage_boxtitle {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Exquisite-khelpcenter.png/20px-Exquisite-khelpcenter.png);
    background-repeat: no-repeat;
    background-position: 99% 0.3em;
    padding-right: 25px;
}
 
#mainpage_downloadcell {
  width: 17em; 
  margin-bottom: 5px; 
}
 
#mainpage_downloadcell .mainpage_boxtitle {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Crystal_Clear_action_build.png/18px-Crystal_Clear_action_build.png);
    background-repeat: no-repeat;
    background-position: 96% 0.33em;
    padding-right: 25px;
}
 
/* The words 'MediaWiki.org' in the title.*/
#mainpage_mwtitle {
  color: #005288;
}